<h1>Enter celebrity details</h1>
<form action="/celebrities/new" method="POST">
  <label for="name">Name: </label>
  <input type="text" name="name" id="name">

  <label for="occupation">occupation: </label>
  <input type="text" name="occupation" id="occupation">

  <label for="catchPhrase">Catchphrase: </label>
  <input type="catchPhrase" name="catchPhrase" id="catchPhrase">
  <button type="submit">Submit</button>
</form>